<section>

  <h2>Liste des clients</h2>

  <table>

    <tr>
      <th> N°</th>
      <th> Nom </th>
      <th> Adresse </th>
      <th> Email </th>
    </tr>

    <?php foreach($users as $user) : ?>

      <?php if($user['status'] == 3) : ?>
        <tr>
          <td> <?= $user['id']; ?> </td>
          <td> <?= $user['first_name']; ?> <?= $user['last_name']; ?> </td>
          <td> <?= $user['address']; ?> <?= $user['postal_code']; ?> <?= $user['city']; ?> </td>
          <td> <?= $user['email']; ?> </td>
        </tr>
      <?php endif; ?>

    <?php endforeach; ?>

  </table>

</section>
