/*=============================================================
===============================================================
===============================================================
                            MEDIA MOBILE
===============================================================
===============================================================
=============================================================*/


/*===============================================================
                        GLOBAL
===============================================================*/
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: auto;
    background-color: #f8f3f7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight : 300;
    font-size : 1.8rem;
    line-height: 2;
    text-align : justify;
    /* overflow-x: hidden; */
}

img {
    max-width: 100%;
}

h1, h2, h3, legend {
    font-family: 'Pinyon Script', cursive;
    font-weight: normal;
    text-transform: capitalize;
}

h1, h2 {
    text-align: center;
}

p, img {
  padding : 10px;
}

a {
  display : inline-block;
  text-decoration: none;
  color : black;
}

ul {
  padding : 0;
}

.btn {
    padding : 15px;
    margin: 10px;
    border : 1px solid #ffb9ccb3;
    background-color: #ffb9ccb3;
}

.disabled {
  background-color: white;
  color :grey;
}

.btn:hover {
  background-color: white;
}

.btnToLink {
  background-color: white;
  border : none;
}

.link {
  text-decoration: underline;
  text-decoration-color : #ffb9cc;
}

.hidden {
  display : none;
}

.show {
  display : inline-block;
}

.error {
  color : red;
}

/*///////////////////////////////////////////////////////////////
                  // FORMULAIRE //
///////////////////////////////////////////////////////////////*/

.form {
  padding : 15px;
  margin : 50px 0;
  background-color : white;
  border : 2px solid #ffb9cc;
  box-shadow: 0px 0px 8px #ffb9cc;
}

.form legend {
  padding : 15px;
  font-size: 3rem;
  text-align: center;
}

.form .form-ctrl {
  display : flex;
  flex-direction : column;
  justify-content: space-around;
}

.form .form-group {
  padding : 15px;
}

.form label {
  display : inline-block;
  width : 30%;
}

.form input {
  border : none;
  border-bottom : 3px solid #ffb9cc;
  padding : 5px;
}

.info {
  border : 1px solid #ffb9cc80;
}
/*===============================================================
                        HEADER
==============================================================*/
/*----------COVER------------*/

header {
    background-image: url('../img/flower/cover.jpg');
    max-height: 600px;
    height:400px;
    background-size: cover;
    text-align : center;
}

header h1 {
  margin-top : 0;
  padding-top : 25px;
  font-size: 6rem;
}

header p {
  font-size : 1.7rem;
  letter-spacing: 5px;
}

/*----------NAVIGATION------------*/

#navDiv {
  display : block;
  margin : auto;
  text-align: center;
}

#burgerNav {
  display : block;
  padding : 10px 0;
  margin: auto;
  width : 100%;
  background-color: #ffb9ccb3;
}

#burgerNav:hover {
  text-decoration: underline;
}

nav {
  display : none;
  width: 100%;
  border : 1px solid #ffb9cc;
  background-color: white;
}

nav li {
    padding: 10px 0;
    font-size : 1.7rem;
    list-style-type: none;
}

nav li:hover {
  border : 1px solid #ffb9cc;
}

nav a {
  display : inline-block;
  width : 100%;
}
/*===============================================================
                        MAIN
==============================================================*/

.container {
    padding : 0 30px;
    max-width: 1600px;
    margin : auto;
}

/*----------HomeView------------*/
h2 {
    font-size : 4.5rem;
    margin : 25px;
}

h3 {
    font-size : 3.5rem;
    text-decoration: underline;
    margin : 10px 20px 20px;
}

article {
    padding : 15px;
    background-color: white;
    margin : 50px 0;
    box-shadow: 0px 0px 8px #ffb9cc;
}

article img {
  max-width: 400px;
}

.productPrice {
  display : flex;
  justify-content:  space-between;
  align-items: flex-end;
}

.btnCart {
  width : 50%;
}

/*----------SECTION ACCOUNT ------------*/

#sectionAccount article p span, .account span {
  display: block;
}

/*----------SECTION SHOPPING CART ------------*/

#sectionCart img {
  display : none;
}

#sectionCart .articleProduct .articleDetails {
  display : block;
  text-align: left;
}

#sectionCart .lessArticle, #sectionCart .moreArticle {
  padding : 3px 20px;
  margin : 0px 5px;
  border : 1px solid #ffb9ccb3;
  background-color: white;
}

#sectionCart .lessArticle:hover, #sectionCart .moreArticle:hover {
  border : 1px solid #ffb9ccb3;
  background-color: #ffb9ccb3;
}

#sectionCart .articlePrice {
  text-align: right;
}

#sectionCart .articlePrice span {
  font-weight: bold;
}

#sectionCart .order {
  text-align: right;
}

/*----------SECTION ORDER ------------*/

#sectionOrder ul {
  margin : 15px;
}

#sectionOrder li {
  list-style-type: circle;
  padding : 0 15px;
}


/*----------SECTION ADMIN Liste Produit------------*/

table {
  margin : auto;
}

tr {
}

th, td, tr {
    border : 1px solid black;
    padding: 25px;
}

/*----------SECTION ADMIN update Produit------------*/

#updateImg {
  max-height : 200px;

}

/*----------SECTION ADMIN Liste Commande ------------*/
select {
  border : 1px solid #ffb9ccb3;
  padding : 15px;
  background-color: white;
}

.btnsOrder
{
  border : none;
  background-color: #f8f3f7;
  text-decoration: underline #ffb9ccb3;
}

.details {
  padding : 25px;
}
/*===============================================================
                        FOOTER
==============================================================*/

footer p {
  text-align: center;
  padding : 50px 0 10px;
}

/*=============================================================
===============================================================
===============================================================
                            MEDIA TABLETTE
===============================================================
===============================================================
=============================================================*/

@media screen and (min-width : 767px){



/*===============================================================
                        HEADER
==============================================================*/


/*===============================================================
                        MAIN
==============================================================*/


/*----------SECTION ------------*/

#sectionCart img {
  display : inline-block;
  width : 20%;
}

#sectionCart .articleProduct .articleDetails {
  display : inline-block;
  width : 75%;
  text-align: left;
}

}
/*=============================================================
===============================================================
===============================================================
                            MEDIA DESKTOP
===============================================================
===============================================================
=============================================================*/

@media screen and (min-width :1024px){
  /*===============================================================
                          HEADER
  ==============================================================*/

  /*---------- NAVIGATION ------------*/
  #navDiv {
    display : block;
  }

  #burgerNav {
    display : none;
  }

  #nav {
    display : block;
    border : none;
  }

  #nav ul {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #fdcad8;
    margin : 0;
    padding : 10px;
  }

  nav li {
    border : 1px solid #fdcad8;
    padding: 10px 20px;
    margin : 0 10px;
  }

  nav .btnToLink {
    background-color: #fdcad8;
    border : none;
  }

  nav li:hover {
    border : 1px solid #ffb9cc;
    background : white;
  }

  nav .btnToLink:hover, nav li.btnLi:hover .btnToLink {
    background : white;
  }




  /*===============================================================
                          MAIN
  ==============================================================*/

  /*----------Section NEWS ------------*/

  #divNews {
    display : flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  #divNews article {
    width : 32%;
    min-height : 0;
    min-width : 0;
    margin : 20px;
  }

  #divNews article img {
    max-width : 100%;
  }


}
