<section id='sectionCart'>

  <h2>Panier</h2>

  <?php if(!isset($productCart) || empty($productCart)) :?>

    <article>
      Pas d'article dans le panier pour le moment
    </article>

  <?php else : ?>

    <?php foreach($productCart as $product) : ?>
      <article class="articleProduct">
        <img src='../views/public/img/flower/<?= $product['path_img'] ?>' alt='<?= $product['name'] ?>'>
        <div class='articleDetails'>
          <p>
            <a class='link' href='ProductCtrl.php?id=<?= $product['id']?>'><?= $product["name"]?></a> ( <?= $product["price"]?> euros l'unité)
          </p>
          <p>
            Quantité :
            <button class='lessArticle' id='<?= $product['id']?>'> - </button>
              <span class='qtyArticle'><?= $product["qty"]?></span>
            <button class='moreArticle' id='<?= $product['id']?>'> + </button>

          </p>
          <p>
            Prix : <?= $product["totalArticle"] ?> euros
          </p>
        </div>
      </article>
    <?php endforeach ?>

    <article class='articlePrice'>
        <span> Total : <?= $productTotal ?> euros </span>
    </article>

    <?php if(isset($_SESSION['id'])) :?>
      <article class='account'>
        <p>
          <span>Nom : <?= $user['first_name']; ?> <?= $user['last_name']; ?></span>
          <span>Email : <?= $user['email']; ?></span>
          <span>Adresse : <?= $user['address']; ?></span>
          <span>Ville : <?= $user['city']; ?></span>
          <span>Code Postal : <?= $user['postal_code']; ?></span>
        </p>
        <a href='user/AccountCtrl.php' class='btn'>Modifier</a>
      </article>

      <div class='order'>
        <button id='btnOrder' type'submit' class='btn'>Commander</button>
      </div>

    <?php else : ?>
      <div class='order'>
        <a href='/controllers/LoginCtrl.php' class='btn'>Se connecter</a>
      </div>
    <?php endif; ?>

  <?php endif; ?>



</section>
