<section>
    <h2> Bienvenue </h2>

      <p>
        Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso
        cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil
        vel serium agi Romae permittunt. ergo redeundum ad textum.
      </p>
      <p>
        Batnae municipium in Anthemusia conditum Macedonum manu priscorum ab Euphrate
        flumine brevi spatio disparatur, refertum mercatoribus opulentis, ubi annua
        sollemnitate prope Septembris initium mensis ad nundinas magna promiscuae
        fortunae convenit multitudo ad commercanda quae Indi mittunt et Seres aliaque
        plurima vehi terra marique consueta.
      </p>
</section>

<section id='sectionNews'>

  <h2>Nouveautés</h2>

  <div id='divNews'>
    <?php foreach ($productsNews as $product): ?>

      <article>

        <h3> <?= $product['name'] ?></h3>
        <img src='../views/public/img/flower/<?= $product['path_img'] ?>' alt='<?= $product['name'] ?>'>
        <p>
          <?php echo substr($product['description'], 0, 200); ?>...
          <a class='link' href='controllers/ProductCtrl.php?id=<?= $product['id']?>' id='<?= $product['id'] ?>'>Lire plus</a>
        </p>
        <p class='productPrice'>
          Prix : <?= $product['price'] ?> €

          <?php if($product['quantity'] <= 0) :?>
            Indisponible pour le moment
          <?php else :?>
            <button class='btn btnCart' id='<?= $product['id'] ?>'>Ajouter au panier</button>
          <?php endif; ?>
        </p>
      </article>

    <?php endforeach; ?>
  </div>
</section>
