<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="/views/public/css/normalize.min.css">
    <link rel="stylesheet" href="/views/public/css/stylesheet.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Pinyon+Script&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/views/public/img/flower/favicon.ico">
    <title>Savonne</title>

  </head>

  <body>
    <header>
      <h1><a href="/index.php"> Savonne </a></h1>
      <p>Composition</p>
    </header>

    <div id='navDiv'>
      <button id="burgerNav" class='btnToLink'> - Menu - </button>

      <nav id="nav">
        <ul id='navUl'>
          <!-- Menu sans authentification -->
          <?php if(!isset($_SESSION['id'])): ?>
            <li><a href='/index.php'>Accueil</a></li>
            <li><a href='/controllers/ProductCtrl.php'>Produits</a></li>
            <li class='btnLi'><button type='submit' id='cart' class='btnToLink'>Panier</button></li>
            <li><a href='/controllers/LoginCtrl.php'>Connexion</a></li>
          <?php endif; ?>

          <!-- Menu admin -->
          <?php if(isset($_SESSION['id']) && $_SESSION['status'] == 1) : ?>
            <li><a href='/controllers/admin/order/ListCtrl.php'>Commandes</a></li>
            <li><a href='/controllers/admin/product/ListProductsCtrl.php'>Produits</a></li>
            <li><a href='/controllers/admin/customer/ListCtrl.php'>Clients</a></li>

          <!-- Menu utilisateur -->
          <?php elseif (isset($_SESSION['id']) && $_SESSION['status'] == 3): ?>
            <li><a href='/index.php'>Accueil</a></li>
            <li><a href='/controllers/ProductCtrl.php'>Produits</a></li>
            <li><a href='/controllers/user/AccountCtrl.php'>Compte</a></li>
            <li><a href='/controllers/user/OrderCtrl.php'>Commandes</a></li>
            <li class='btnLi'><button type='submit' id='cart' class='btnToLink'>Panier</button></li>

          <?php endif; ?>

          <!-- Apparait seulement si authentification -->
          <?php if(isset($_SESSION['id'])): ?>
            <li><a href='/controllers/LogoutCtrl.php'>Déconnexion</a></li>
          <?php endif; ?>
        </ul>
      </nav>
    </div>

    <main class='container'>
      <?= $template ?>
    </main>

    <footer>
      <p>
        Ce site a été créé par ©Thifanny
      </p>
    </footer>

    <!-- Code principal JavaScript de l'application -->
    <script type="module" src="/views/public/js/main.js"></script>
  </body>
</html>
