<section id='sectionLogin'>

  <h2> Se connecter : </h2>

  <form action='' method='POST' class='form'>

    <?php if($error): ?>
      <span class='error'><?= $error ?></span>
    <?php endif; ?>

    <div class='form-ctrl'>
      <div class='form-group'>
        <label for='email'>Email*</label>
        <input type='text' id='email' name='email'>
        <p class='info hidden' id='infoEmail'>
          <small>Info : L'email doit être sous la forme john.doe@xxx.xx</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='password'>Mot de passe*</label>
        <input type='password' id='password' name='password'>
        <p class='info hidden' id='infoPwd'>
          <small>Info : Le mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial</small>
        </p>
      </div>

    </div>
    <button type='submit' class='btn disabled' id='btnSubmit' disabled>Envoyer</button>
  </form>

  Si pas de compte :
  <a href='/controllers/RegisterCtrl.php' class='link'>S'enregistrer</a>

</section>
