<section>

    <article>

      <h3> <?= $productOne['name'] ?> </h3>
      <img src='../views/public/img/flower/<?= $productOne['path_img'] ?>' alt='<?= $productOne['name'] ?>' >
      <p>
        <?= $productOne['description'] ?>
      </p>

      <p class='productPrice'>
        Prix : <?= $productOne['price'] ?> €

        <?php if($productOne['quantity'] <= 0) :?>
          Indisponible pour le moment
        <?php else :?>
          <button class='btn btnCart' id='<?= $productOne['id'] ?>'>Ajouter au panier</button>
        <?php endif; ?>
      </p>

    </article>

</section>
