
<section>

  <h2>Produits</h2>

  <?php foreach ($products as $product): ?>

    <article>

      <h3> <?= $product['name'] ?></h3>
      <img src='../views/public/img/flower/<?= $product['path_img'] ?>' alt='<?= $product['name'] ?>'>
      <p>
        <?php echo substr($product['description'], 0, 200); ?>...
        <a class='link' href='ProductCtrl.php?id=<?= $product['id']?>' id='<?= $product['id'] ?>'>Lire plus</a>
      </p>
      <p class='productPrice'>
        Prix : <?= $product['price'] ?> €

        <?php if($product['quantity'] <= 0) :?>
          Indisponible pour le moment
        <?php else :?>
          <button class='btn btnCart' id='<?= $product['id'] ?>'>Ajouter au panier</button>
        <?php endif; ?>
      </p>
    </article>

  <?php endforeach; ?>

</section>
