<section id='sectionRegister'>

  <h2> Créer un compte : </h2>

  <form action='' method='POST' class='form'>

    <?php if($_register->error != null): ?>
      <span class='error'><?= $_register->error ?></span>
    <?php endif; ?>

    <div class='form-ctrl'>
      <div class='form-group'>
        <label for='email'>Email*</label>
        <input type='text' id='email' name='email' placeholder='john.doe@dgmail.com'>
        <p class='info hidden' id='infoEmail'>
          <small>Info : L'email doit être sous la forme john.doe@xxx.xx</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='password'>Mot de passe*</label>
        <input type='password' id='password' name='password'>
        <p class='info hidden' id='infoPwd'>
          <small>Info : Le mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='first_name'>Prénom*</label>
        <input type='text' id='first_name' name='first_name'>
        <p class='info hidden' id='infoFirstName'>
          <small>Info : Le prénom doit contenir au moins 3 lettres </small>
        </p>
      </div>

      <div class='form-group'>
        <label for='last_name'>Nom*</label>
        <input type='text' id='last_name' class='word' name='last_name'>
        <p class='info hidden' id='infoLastName'>
          <small>Info : Le nom doit contenir au moins 3 lettres</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='address'>Adresse*</label>
        <input type='text' id='address' name='address'>
        <p class='info hidden' id='infoAddress'>
          <small>Info : L'adresse doit être sous la forme '2 rue Wilson', sans caractères spéciaux ou de ponctuation</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='postal_code'>Code postal*</label>
        <input type='text' id='postal_code' name='postal_code'>
        <p class='info hidden' id='infoPostal'>
          <small>Info : Le code postal doit contenir 5 chiffres</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='city'>Ville*</label>
        <input type='text' id='city' name='city'>
        <p class='info hidden' id='infoCity'>
          <small>Info : La ville doit contenir au moins 3 lettres</small>
        </p>
      </div>

    </div>
    <button type='submit' class='btn disabled' id='btnSubmit' disabled>Envoyer</button>

  </form>

  Déjà un compte ?
  <a href='/controllers/LoginCtrl.php' class='link'>Se connecter</a>

</section>
