<section id='sectionAccount'>
  <h2> Votre compte </h2>

  <article>
    <p>
      <span>Nom : <?= $user['first_name']; ?> <?= $user['last_name']; ?></span>
      <span>Email : <?= $user['email']; ?></span>
      <span>Adresse : <?= $user['address']; ?></span>
      <span>Ville : <?= $user['city']; ?></span>
      <span>Code Postal : <?= $user['postal_code']; ?></span>
    </p>
      <button class='btn' id='updateInfoBtn'>Modifier les informations</button>
      <button class='btn' id='updatePwdBtn'>Changer de mot de passe</button>
      <form id='deleteForm' action='' method='POST'>
        <input type='hidden' name='delete' value='true'>
        <button class='btn' id='deleteAccountBtn'>Supprimer le compte</button>
      </form>

  </article>

</section>

<section id='sectionUpdateAccount' class='hidden'>
  <form id='infoForm' class='form' action='' method='POST'>

    <legend>Vos informations</legend>
    <div class='form-ctrl'>

      <div class='form-group'>
        <label for='first_name'>Prénom :</label>
        <input type='text' id='first_name' name='first_name' value=<?= $user['first_name'] ?>>
        <p class='info hidden' id='infoFirstName'>
          <small>Info : Le prénom doit contenir au moins 3 lettres </small>
        </p>
      </div>

      <div class='form-group'>
        <label for='last_name'>Nom :</label>
        <input type='text' id='last_name' name='last_name' value=<?= $user['last_name'] ?>>
        <p class='info hidden' id='infoLastName'>
          <small>Info : Le nom doit contenir au moins 3 lettres</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='email'>Email :</label>
        <input type='text' id='email' name='email' value=<?= $user['email'] ?>>
        <p class='info hidden' id='infoEmail'>
          <small>Info : L'email doit être sous la forme john.doe@xxx.xx</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='address'>Adresse :</label>
        <input type='text' id='address' name='address' value="<?= $user['address'] ?>">
        <p class='info hidden' id='infoAddress'>
          <small>Info : L'adresse doit être sous la forme '2 rue Wilson', sans caractères spéciaux ou de ponctuation</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='postal_code'>Code Postal :</label>
        <input type='text' id='postal_code' name='postal_code' value=<?= $user['postal_code'] ?>>
        <p class='info hidden' id='infoPostal'>
          <small>Info : Le code postal doit contenir 5 chiffres</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='city'>Ville :</label>
        <input type='text' id='city' name='city' value=<?= $user['city'] ?>>
        <p class='info hidden' id='infoCity'>
          <small>Info : La ville doit contenir au moins 3 lettres</small>
        </p>
      </div>

    </div>

    <br>
    <button type='submit' class='btn' id='btnPostInfo'>Enregistrer</button>
    <button class='btn' id='btnUndoInfo'>Annuler</button>

  </form>
</section>

<section id='sectionUpdatePwd' class='hidden'>
  <form id='pwdForm' class='form' action='' method='POST'>

    <legend>Mot de passe</legend>

    <div class='form-ctrl'>

      <div class='form-group'>
        <label for='oldPwd'>Ancien mot de passe :</label>
        <input type='password' id='oldPwd' name='oldPwd'>
        <p class='info hidden' id='infoOldPwd'>
          <small>Info : Le mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial</small>
        </p>
      </div>

      <div class='form-group'>
        <label for='newPwd'>Nouveau mot de passe :</label>
        <input type='password' id='newPwd' name='newPwd'>
        <p class='info hidden' id='infoNewPwd'>
          <small>Info : Le mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial</small>
        </p>
      </div>

    </div>

    <button type='submit' class='btn disabled' id='btnPostPwd'>Enregistrer</button>
    <button class='btn' id='btnUndoPwd'>Annuler</button>

  </form>
</section>
