<section id='sectionOrder'>

  <h2> Vos commandes </h2>

  <?php if($orders): ?>

    <?php foreach ($orders as $order) : ?>

      <article>

        <h4><?= $order['status']?></h4>
        <em>Commande n°<?= $order['id']?> </em>
        <hr>

        Article(s) : <br>
        <?php foreach($_order->getOrderDetails($order['id']) as $detail) : ?>
          <ul>
            <li>
              <em><?= $detail['productQty'] ?></em> <?= $detail['productName'] ?> (<?= $detail['subtotal'] ?> euros)
            </li>
          </ul>
        <?php endforeach; ?>

        Prix total : <?= $order['total']?> euros <br>
        <?php if($order['status'] == 'Envoyé') : ?>
          Livrée le <?= $order['deliveryDate']?> <br>
        <?php elseif($order['status'] == 'En attente' || $order['status'] == 'En cours de préparation' ) : ?>
          Passée le : <?= $order['orderDate']?> <br>
          Livraison le : <?= $order['deliveryDate']?> <br>
        <?php endif; ?>
      </article>

    <?php endforeach; ?>
  <?php else : ?>

    <p>Vous n'avez pas encore passé de commandes</p>

  <?php endif; ?>
</section>
