<p>

  <?php if($_postOrder->setBillDetails()) :?>

    Votre commande a bien été envoyée. <br>
    Pour suivre son évolution, rendez-vous sur
    l'onglet <a href='/controllers/user/OrderCtrl.php' class='link'>'Commande'</a>.

  <?php endif; ?>
</p>
