<section id='sectionAdminOrder'>

  <h2>Liste des commandes</h2>

  <table>

    <tr>
      <th> N°</th>
      <th> Date </th>
      <th> Status </th>
      <th>  </th>
    </tr>

    <?php foreach($orders as $order) : ?>

      <tr>
        <td> <?= $order['id']; ?> </td>
        <td><?= $order['orderDate']; ?></td>
        <td>
          <form action='' method='POST'>
            <input type='hidden' name='id' value="<?= $order['id']; ?>">
            <select name="status">
              <?php if($order['status'] == 1) :?>
              <option value="1" selected>Envoyé</option>
              <option value="2">En cours</option>
              <option value="3">Non traité</option>
              <?php elseif ($order['status'] == 2) :?>
              <option value="1">Envoyé</option>
              <option value="2" selected>En cours</option>
              <option value="3">Non traité</option>
            <?php elseif ($order['status'] == 3) :?>
              <option value="1">Envoyé</option>
              <option value="2">En cours</option>
              <option value="3" selected>Non traité</option>
            <?php endif; ?>
            </select>
            <button type="submit" class='btn'>Valider</button>
          </form>
        </td>
        <td> <button class='btnsOrder'>Détails</button> </td>
      </tr>

      <tr id='trContent'>
        <td colspan="5" id='tdContent' class='details hidden'>
          <div >
            <?php $user = $_list->getUser($order['user_id']); ?>
            Client : <?= $user['first_name']?> <?= $user['last_name']?> <br>
            Adresse : <?= $user['address']?> <?= $user['postal_code']?> <?= $user['city']?>
            <br>
            Total : <?= $order['total'] ?> euros
            <?php $orderDetails = $_list->getOrdersDetails($order['id']); ?>
            <?php foreach($orderDetails as $detail) : ?>
              <ul>
                <li>
                  <em><?= $detail['product_qty'] ?></em> <?= $detail['name'] ?> (<?= $detail['subtotal'] ?> euros)
                </li>
              </ul>
            <?php endforeach; ?>
          </div>
        </td>
      </tr>

    <?php endforeach; ?>

  </table>

</section>
