<section>
  <h2>Ajout</h2>

  <form action='' method='POST' enctype="multipart/form-data" class='form'>

    <div class='form-ctrl'>

      <div class='form-group'>
        <label for='name'>Nom :</label>
        <input type='text' id='name' name='name'>
      </div>

      <div class='form-group'>
        <label for='reference'>Réference :</label>
        <input type='text' id='reference' name='reference'>
      </div>

      <div class='form-group'>
        <label for='quantity'>Quantité :</label>
        <input type='text' id='quantity' name='quantity'>
      </div>

      <div class='form-group'>
        <label for='price'>Price :</label>
        <input type='text' id='price' name='price'>
      </div>

      <div class='form-group'>
        <label for='description'>Description :</label>
        <textarea id='description' name='description' cols='25' rows='5'></textarea>
      </div>

      <div class='form-group'>
        <label for='path_img'>Image :</label>
        <input type='file' id='path_img' name='img'>
      </div>

      <div class='form-group'>
        <button type='submit' id='btnPost' class='btn' >Enregistrer</button>
        <a href='ListProductsCtrl.php' class='btn'>Annuler</a>
      </div>

    </div>
  </form>

</section>
