<section>

  <h2>Liste des produits</h2>

  <!-- <a href='AddCtrl.php' class='btn'>Ajouter un produit </a> -->

  <table>

    <tr>
      <th> Nom </th>
      <th> Référence </th>
      <th> Quantité </th>
      <th> Prix </th>
      <th><a href='AddCtrl.php' class='btn'>Ajouter un produit </a></th>
    </tr>

    <?php foreach($products as $product) : ?>

      <tr>
        <td> <?= $product['name']; ?> </td>
        <td> <?= $product['reference']; ?> </td>
        <td> <?= $product['quantity']; ?> </td>
        <td> <?= $product['price']; ?> </td>
        <td>
          <a href='UpdateCtrl.php?id=<?= $product['id']?>' id='<?= $product['id'] ?>' class='link'>Modifier</a>
          <br>
          <a href="DeleteCtrl.php?id=<?= $product['id']?>" class='link'>Supprimer</a>
        </td>
      </tr>

    <?php endforeach; ?>

  </table>


</section>
